[workspace]
resolver = "2"

members = [
    "crates/*",
]

[workspace.dependencies]
dotenv = "0.15.0"
jsonwebtoken = { version = "8.2.0", features = ["use_pem"] }
reqwest = { version = "0.11.13", features = ["json"] }
serde = "1.0.152"
serde_json = "1.0.91"
tokio = { version = "1.24.2" }